Package: com.noisyflake.smartlowpower
Name: SmartLowPower
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Automate Low Power mode activation to save battery
Homepage: http://www.noisyflake.com
Maintainer: NoisyFlake <contact@noisyflake.com>
Author: NoisyFlake <contact@noisyflake.com>
Section: Tweaks
