<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>footerText</key>  			<string>Enable when the battery reaches a certain level. </string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>apBattery</string>
			<key>label</key>						<string>Battery Level</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>apBatteryLocked</string>
			<key>label</key>						<string>Only when locked</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>default</key> 					<string>10</string>
			<key>defaults</key> 				<string>com.noisyflake.smartlowpowerprefs</string>
			<key>isNumeric</key> 				<true/>
			<key>key</key> 							<string>apBatteryLevel</string>
			<key>label</key> 						<string>Percent:</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>
		<dict>
      <key>cell</key>             <string>PSButtonCell</string>
      <key>label</key>            <string>Save</string>
      <key>action</key>           <string>save</string>
    </dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>footerText</key>  			<string>Enable when the device is charging. Speeds up charging.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>apCharging</string>
			<key>label</key>						<string>Charging</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>

	</array>
	<key>title</key>
	<string>Airplane Mode</string>
</dict>
</plist>
