<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>tweakEnabled</string>
			<key>label</key>						<string>Enable</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>label</key> 						<string>Low Power Mode</string>
			<key>footerText</key>  			<string>Toggle LPM when the device is locked / unlocked.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>lpmLocked</string>
			<key>label</key>						<string>Device Locked / Unlocked</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>footerText</key>  			<string>Enable LPM when the battery reaches a certain level.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>lpmBattery</string>
			<key>label</key>						<string>Battery Level</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>default</key> 					<string>20</string>
			<key>defaults</key> 				<string>com.noisyflake.smartlowpowerprefs</string>
			<key>isNumeric</key> 				<true/>
			<key>key</key> 							<string>lpmBatteryLevel</string>
			<key>label</key> 						<string>Value</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>
		<dict>
      <key>cell</key>             <string>PSButtonCell</string>
      <key>label</key>            <string>Save</string>
      <key>action</key>           <string>save</string>
    </dict>
    <dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>lpmBatteryLocked</string>
			<key>label</key>						<string>Only when Device Locked</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>footerText</key>  			<string>Enable LPM when the device is charging.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<false/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>lpmCharging</string>
			<key>label</key>						<string>Charging</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>

	</array>
	<key>title</key>
	<string>SmartLowPower</string>
</dict>
</plist>
