<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>						<string>PSGroupCell</string>
			<key>footerCellClass</key>			<string>BannerCell</string>
 		</dict>

 		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.smartlowpowerprefs</string>
			<key>key</key>							<string>tweakEnabled</string>
			<key>label</key>						<string>Enable</string>
			<key>PostNotification</key> <string>com.noisyflake.smartlowpowerprefs/prefsupdated</string>
		</dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>label</key> 						<string>Activation Settings</string>
		</dict>
		<dict>
			<key>cell</key> 									<string>PSLinkCell</string>
			<key>detail</key> 								<string>slpLowPowerListController</string>
			<key>isController</key> 					<true/>
			<key>overridePrincipalClass</key> <true/>
			<key>label</key> 									<string>Low Power Mode</string>
		</dict>
		<dict>
			<key>cell</key> 									<string>PSLinkCell</string>
			<key>detail</key> 								<string>slpAirPlaneListController</string>
			<key>isController</key> 					<true/>
			<key>overridePrincipalClass</key> <true/>
			<key>label</key> 									<string>Airplane Mode</string>
		</dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>label</key> 						<string>Extras</string>
		</dict>
		<dict>
			<key>cell</key> 									<string>PSLinkCell</string>
			<key>detail</key> 								<string>slpAutoLockListController</string>
			<key>isController</key> 					<true/>
			<key>overridePrincipalClass</key> <true/>
			<key>label</key> 									<string>Auto-Lock</string>
		</dict>

		<dict>
			<key>cell</key> 						<string>PSGroupCell</string>
			<key>footerText</key> 			<string>All settings are effective immediately, no respring required.</string>
			<key>footerAlignment</key> 	<string>1</string>
		</dict>


	</array>
	<key>title</key>
	<string>SmartLowPower</string>
</dict>
</plist>
